@use '../helpers' as *;

.main{
    padding: 3rem 0;
}

.section{
    padding: 3rem 0;
}

.container{
    max-width: 1600px;
    width: 95%;
    margin-inline: auto;
    @include md{
        width: 80%;
    };
}