@use '../helpers' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #FFFFFF;
}

body {
    background-color: $pg_bgColor;
}

header {
    background-color: $pg_bgColor;
}

nav {
    background-color: #FFFFFF;

}

.main {
    padding: 3rem 0;
}

.section {
    padding: 3rem 0;
}

.container{
    max-width: 1600px;
    width: 95%;
    margin-inline: auto;

    @include md {
        width: 85%;
    };
}
