@use '../helpers' as *;

.mainBtn{
    @include btn;
    padding: 1.1rem 3rem;
}

.mainBtn:hover{
    @include btnHover;
}

.disabledBtn{
    @include btn($disable_btnBgColor, $disable_textColor);
    padding: 12.5px 43.5px;
    border: none;
}

.viewMoreBtn{
    @include btn($disable_btnBgColor);
    padding: 1.03rem 3.59rem;
    cursor: pointer;
    border-radius: 14.75rem;
    border: none;
}