@use '../helpers' as *;

.vendors{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;

    @include xl{
        grid-template-columns: repeat(6, 1fr);
    }

    &_card{
        padding: 2rem;
        background-color: #292929;
        // border: solid;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover{
            opacity: .3;
            transition: opacity .1s ease-out;
        }
    }

}