@use '../helpers' as *;

.header {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 1rem;

        .nav_menu {
            @include md {
                display: none;
            }

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            position: absolute;
            top: 0px;
            right: -100%;
            z-index: 10;
            width: 65%;
            height: 100vh;
            padding: 2rem 0;
            background-color: #ffffff;
            border-radius: 5px 0 0 5px;
            transition: right .4s ease-in;

            .header_menu {
                padding: 0 1rem;

                .nav_link {
                    margin-bottom: 1.2rem;

                    a {
                        padding: .5rem 0;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: $fs-navlink;
                        text-align: center;
                        color: $nav_textColor;

                        &:hover {
                            border-bottom: 3px solid $main_color;
                            color: $main_color;
                            transition: all .3s ease-out;
                        }
                    }
                }

                &--btns {
                    margin-top: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    button {
                        margin-bottom: 1.2rem;

                        &:hover {
                            background-color: $pg_bgColor;
                        }

                        a {
                            text-transform: capitalize !important;
                            color: #ffffff !important;
                        }
                    }

                    .signinBtn {
                        @include btn($pg_bgColor);
                    }
                }

            }

            .nav_close {
                padding: .5rem;
                font-size: 1.3rem;
                position: absolute;
                top: 6px;
                right: 20px;

                &:hover {
                    cursor: pointer;
                    opacity: .3;
                    transition: opacity .2 ease-out;
                }

            }

        }

        #menuIcon {
            background: none;
            border: none;
            padding: 5px;

            i {
                font-size: 1.6rem;
                color: #ffffff;
                cursor: pointer;

                &:hover {
                    opacity: .3;
                    transition: opacity .3 ease-out;
                }


                @include md {
                    display: none;
                }
            }
        }

        #search{
            display: none;
            @include md{
                display: block;
                color: rgba(255, 255, 255, 0.5);
                font-size: 12px;
                font-weight: 300;
                line-height: 14.63px;
                border: solid 1.2px rgba(255, 255, 255, 0.5);
                border-radius: 54px;
                padding: .5rem 1.1rem;
                background: none;
                width: 50%;
                max-width: 300px;
                
            }
        }
        .header_menu--btns{
            display: none;
            @include md{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0 1rem;
            }
        }
    }
}

.openMenu {
    right: 0 !important;
    transition: all .3s ease-out;
}