@use '../helpers/variables' as *;
@use '../helpers/colors' as *;

// Normal and disable buttons
@mixin btn($bgColor:$main_color, $textColor:$text_color, 
$radius:$br-radius, $font:14px){
    font-weight: 700;
    border-radius: $radius;
    background-color: $bgColor;
    border: 2px solid $main_color;
    a{
        color: $textColor;
        font-size: $font;
    }
}
@mixin btnHover($duration:600ms){
    background: none;
    cursor: pointer;
    transition: background-color $duration ease-out;
}

// Border Colors
@mixin border($type, $height:2px, $color:$main_color){
    $type: $height solid $Color;
}

// MEDIA QUERIES(BREAKPOINTS)
@mixin md{
    @media(min-width: map-get($breakpoints, 'md')){
        @content;
    }
}
@mixin lg{
    @media(min-width: map-get($breakpoints, 'lg')){
        @content;
    }
}
@mixin xl{
    @media(min-width: map-get($breakpoints, 'xl')){
        @content;
    }
}