// FONT SIZE
$fs-xs: 12px;
$fs-s: 14px;
$fs: 16px;
$fs-m: 20px;
$fs-l: 25px;
$fs-xl: 30px;
$fs-xxl: 35px;
$fs-navlink: 13px;

$br-radius: 54px;

// BREAKPOINTS
$breakpoints : (
    'md' : 576px,
    'lg' : 992px,
    'xl' : 1200px
);