// COLORS
$pg_bgColor: #232323;
$main_color: #ff4656;
// TEXT COLORS
$text_color: #ffffff;
$nav_textColor: rgba(0, 0, 0, 0.3);
// BUTTONS
$disable_btnBgColor: rgba(255, 255, 255, 0.1);
$disable_textColor: rgba(255, 255, 255, 0.3);
// FOOTER BACKGROUND COLOR
$footer_backgroundColor: #323232;
$footer_textColor: rgba(255, 255, 255, 0.3);


// FONT SIZE
$fs-xs: 12px;
$fs-s: 14px;
$fs: 16px;
$fs-m: 20px;
$fs-l: 25px;
$fs-xl: 30px;
$fs-xxl: 35px;
$fs-navlink: 13px;

$br-radius: 54px;

// BREAKPOINTS
$breakpoints : (
    'md' : 576px,
    'lg' : 992px,
    'xl' : 1200px
);
